<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeDex</title>
</head>

<body>
    <h1>Hello</h1>
    <%-pokemonList[0].name%>
    <%-pokemonList[0].id%>
    <%-pokemonList[0].types%>
    <%-pokemonList[0].image%>

    <div id="display"></div>
    
    <script src="/pokedexDisplay.js"></script>
</body>

</html>
